// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.login-status {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 15px 15px;
  font-weight: bold;
}