<div class="row">
  <div class="col-sm-4">
  </div>

  <div class="col-sm-8">
    <dl class="dl-horizontal">
      <dt>User ID</dt>
      <dd><%= review.user_id %></dd>
      <dt>Review</dt>
      <dd><%= review.description %></dd>
      <dt>Rating</dt>
      <dd>
        <% review.rating.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% blankstars.times do  %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </dd>
        <dt>Date Reviewed</dt>
        <dd><%= review.created_at %></dd>
      <% if current_user && current_user.id == review.user_id  %>
        <dt/>
        <dd>
          <%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete Comment'.html_safe, [@product, review], class: "btn btn-primary", data: {:confirm => 'Are you sure?'}, :method => :delete %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>